
html{
    
    overflow-x: hidden;
     scroll-padding-top: 1rem; 
    scroll-behavior: smooth;
  }
  
*{
    
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s cubic-bezier(.37,1.14,.26,1.24);
}

*::selection{
    background:#ff3300;
    color:#fff;
}




/*--------------navbar-------------*/

#header-img
{
  order:1;
  width:5%;
  height:64px;
}

.nav-bar-container input[type='checkbox'] 
{
    display: none;
}
#nav-bar
{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: rgb(201, 195, 195);
    opacity: 0.85;
    z-index: 999;
  
}
.nav-bar-container
{
    display: flex;
    justify-content: space-evenly;
    height: 64px;
    align-items: center; 
}
.menu-items
{
    order: 2;
  display: flex;
    
}
.navbar-social
{
    order: 3;
}
#nav-bar a
{
    color:crimson;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.35 ease-in-out;
    font-family: 'Baloo Chettan 2', cursive;
}
#nav-bar a:hover
{
    color: #117964;
    font-weight:900;
    font-size: 1.5em;
}
.menu-items li
{
    list-style: none;
    margin-left: 1.05rem;
    
   
}
.navbar-social
{
    display: flex;
    flex-direction: row;
    align-items:center;
    list-style: none;
    

}
#header-img
{
    align-self: flex-start;
}
.navbar-social li
{
    margin-left: 1.05rem;
} 
/*-----------------home------------------*/

 .home-slider 
{
    display: flex;
    flex-direction: row;

}

.item img
{
    width: auto;
    height: 100vh;
    object-fit: cover;
}
.item:after {
    content: " ";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
    z-index: 1;
    }
.content
{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   
}
.item > .content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: inherit;
  
  }
  .item > .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    
    
  }
.content h1,a,p
{
    margin-top: 1.05rem;
}
.home .home-slider .item h1{
    font-size: 4.5rem;
  color:#fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);

    
}
.home .home-slider .item p
{
    font-size: 1.6rem;
    font-weight: 800;
  
}
#box1,#box2,#box3,#box4
{   
    z-index: 1000; 
    color: white;
    font-family: 'Baloo Chettan 2', cursive;
}
.btn{
    height: 4rem;
    width: 14rem;
    background:crimson;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border:none;
    font-family: 'Baloo Chettan 2', cursive;
    outline: none;
}
.btn :hover
{
    background-color: transparent;
    border: 2px solid rgb(192, 63, 89);
} 

/*------------------About Us--------------*/
 #about-us
{
    padding:2rem 9%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex-wrap: wrap;
} 
section h2
{
    
    font-size: 3rem;
    color: crimson;
    font-family: 'Baloo Chettan 2', cursive ;
}
.box-container
{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.box{
    flex: 1 1 20rem; 
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}
.box i{
    font-size: 4rem;
    color: crimson;
    padding: 1rem;
}
.box h3{
    font-size: 1.5rem;
    color: #333;
    font-family: 'Baloo Chettan 2', cursive ;
}
.box p
{
    font-family: 'Baloo Chettan 2', cursive ;
    font-size: 1.05rem;
    color: #666;
}
.box:hover
{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
/*----------------gallery-container----------------*/
.gallery
{
    padding:2rem 9%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.gallery-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.gallery-container a{
    height: 200x;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 5px #000;
}

.gallery-container a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery-container a img:hover{
    transform: scale(1.4,1.4);
}

/* Pricing section */
#pricing,#blog
{
    padding:2rem 9%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex-wrap: wrap;
   justify-content: space-between;
    font-family: 'Baloo Chettan 2', cursive ;
}
.pricing-container,.blog-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.card
{
    flex: 1 1 7rem; 
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,0.5);
    
}
.card i
{
    color: crimson;
    font-size: 2.5rem;
    padding: 1rem;
}
.card h3
{
    color: #333;
    font-size: 1.5rem;
    
}

.card .price-details
{
    display: flex;
    color: #666;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
   
}
.price-details p
{
    font-size: 1.5rem;
    margin-bottom: 1.05rem;
    margin-left: 1rem ;
}
.price-details button ,.blog-card button {
    background-color: crimson;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border:none;
    padding: 1.01rem;
    font-family: 'Baloo Chettan 2', cursive ;
    font-weight: 800;
    border-radius: 2px;
    margin-left:1rem;
}
.price-details button:hover,.blog-card button:hover
{
   background-color:  #117964;
}
.price-details .dummy
{
    text-decoration-line: line-through ;
}
.card img
{
    height: 200px;
    width: 200px; 
}
/* ------------blog-section--------------- */
.blog-container
{
    justify-content: center;
}
.blog-card
{
   
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,0.5);
}
.blog-card button
{
    align-self: center;
    margin-top: 10px;
    width:10rem;
}
/* ------------ contact section ----------------*/

#contact-us
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Baloo Chettan 2', cursive ;
    font-weight: 800;
    
}
.contact-container
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
    flex-direction: row;
    gap:1.5rem;
    justify-content: center;
    margin: 0 auto;
}
.form-area
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 .3rem .5rem rgb(32, 28, 28);
    background-color: crimson;
    padding: 1rem;
    border-radius: 5px;

   
}
.general
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-area input
{
    width:100%;
    margin:1rem 0;
    padding:1rem;
    font-size: 1.07rem;
    color:#333;
    background:#f7f7f7;
    text-transform: none;
    border: none;
}
.form-area label{
    color: white;
    font-size: 1.05rem;
}
.form-btn
{
    background-color: #09ecbf;
    
    cursor: pointer;
    width:100%;
    height: 2rem;
    font-size: 1.3rem;
    color: crimson;
    border: none;
    border-radius: 5px;
     font-family: 'Baloo Chettan 2', cursive ;

}
.form-btn:hover{
    color: crimson;
    background-color: white;
}
/*----------------- footer --------------*/
footer
{
    background-color: black;
    margin-top:1rem;
    padding: 1rem;
    justify-content: center;
}
.footer-container
{
    color: white;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Baloo Chettan 2', cursive ;
}
.follow-us,.contact-us,.office
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.footer-container i
{
    font-size: 1.2rem;
}

 